body{
  margin:0;
  font-family:Arial;
  background:#ffffff;
}

.hidden{
  display:none;
}

#splash{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to bottom,#7c3aed,#ffffff);
  color:white;
}

#splash h1{
  font-size:50px;
}

#login{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}

#login input{
  width:90%;
  max-width:300px;
  padding:16px;
  margin-top:20px;
  border-radius:14px;
  border:1px solid #ddd;
}

button{
  background:#7c3aed;
  color:white;
  border:none;
  padding:16px 28px;
  border-radius:14px;
  margin-top:20px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
}

.services{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;
  padding:20px;
}

.card{
  background:white;
  padding:30px;
  border-radius:24px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
  text-align:center;
}

.booking{
  padding:20px;
}

.booking input,
.booking textarea{
  width:100%;
  padding:16px;
  margin-top:16px;
  border-radius:14px;
  border:1px solid #ddd;
}
